<html>
    <head>
        <title>
            Convert service
        </title>
    </head>
    <body>
        <h1>Convert Service</h1>
        <p>
            This service performs a conversion between PDF format and
            plain text format. The service is stateless and does not
            store any data.
        </p>
        <p>
            The service depends on the installation of <em>pdftotext</em>.
            Temporary files will be stored in <code>/tmp/convertservice</code>. These
            files will not be automatically removed.
        </p>
        <h2>Endpoints</h2>
        <h3>/</h3>
        This information page.
        <h3>/convert</h3>
        <p>
            Post PDF or form data to the service. If the endpoint is accessed
            using GET, a <a href="/convert">form</a> will be displayed which will
            post any supplied file. 
        </p>
        <p>
            Application access to the service should typically not use the form
            itself, but POST the PDF directly as the body.
        </p>
    </body>
</html>